<section class="signup-form">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="d-flex flex-column justify-content-center align-items-center">
        <mat-form-field>
            <input type="email" #emailInp="ngModel" required matInput placeholder="Your Email" ngModel name="email">
            <mat-error *ngIf="emailInp.hasError('required')">Field Must not be empty</mat-error>
            <mat-error *ngIf="!emailInp.hasError('required')">E-Mail is invalid</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="Should be atleast 6 character long">
            <input type="password" #pwInp="ngModel" required minlength="6" matInput placeholder="Your password" ngModel
                name="password">
            <mat-hint align="end">{{ pwInp.value?.length }} / 6</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <input matInput [matDatepicker]="st" [max]="maxDate" ngModel name="birthdate" required>
            <mat-datepicker-toggle matSuffix [for]="st"></mat-datepicker-toggle>
            <mat-datepicker #st></mat-datepicker>
        </mat-form-field>
        <mat-checkbox name="agree" ngModel required>Agree to Terms and Conditions.</mat-checkbox>
        <button mat-raised-button color="primary" [disabled]="f.invalid" type="submit">Submit</button>
    </form>
</section>